@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

nav {
    background-color: #e00557;
    height: 15vh;
    width: 100%;
    background-image: url(./assets/logo.png);
    background-position: 2% center;
    background-size: 20%;
    background-repeat: no-repeat;
}

nav > h1 {
    font-size: 54px;
    color: white;
    padding-left: 3vw;
}

.home{
    height: 70vh;
    background-image: url(./assets/eskrim.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 80vh;
}

.home {
    padding-top: 15vh;
    padding-left: 5vw;
}

.home > h1 {
    font-size: 72px;
    font-weight: 900;
}

.home > h3 {
    color: #e00557;
    font-size: 30px;
}

.home > p {
    width: 50%;
    text-align: justify;
}

.button > button {
    display: flex;
    align-items: center;
    background-color: #e00557;
    border-radius: 50px;
    height: 5vh;
    border: none;
    color: white;
    padding: 4vh 3vw 4vh 3vw;
    margin-top: 2vh;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    nav {
        height: 10vh;
        background-position: center center;
        background-size: 60%;
    }

    .home {
        height: 80vh;
        background-image: url(./assets/eskrim-mobile.png);
        background-size: 100vw;
        background-position: center 105%;
    }

    .home {
        padding-top: 10vh;
        padding-left: 0;
        text-align: center;
    }
    
    .home > h1 {
        font-size: 72px;
        font-weight: 900;
    }

    .home > h3 {
        color: #e00557;
        font-size: 25px;
    }

    .home > p {
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 1vh;
        width: 90%;
        text-align: center;
    }

    .button {
        display: flex;
        justify-content: center;
    }

    button > h4 {
        padding-left: 3vw;
        padding-right: 3vw;
    }
}